<!doctype HTML>
<html>
  <head>
    <title> OAuthSrv | Authorize </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
        Test
      </form>
      <p class="text-center text-gray-500 text-xs">
      &copy;2020 Acme Corp. All rights reserved.
      </p>
    </div>
  </body>
</html>
